body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #ffffff;
  background: #2a2a2a 0 0 repeat;
}

.container {
  margin: 80px auto;
  width: 640px;
  text-align: center;
}
.container .progress {
  margin: 0 auto;
  width: 400px;
}

.timer {
	float:left;
	margin-left: 65px; 
	padding: 4px;
	background: rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
	height: 16px;
}

.progress {
  padding: 4px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

#dnd-panel {
        position:relative;
        margin:0 auto;
        width:230px;
        height:26px;
        line-height:26px;
        border-radius:4px;
        border:1px solid #ccc;
        background-color:#1f1f24;
        text-align:center;
        transition:transform 0.25s;
}

@-webkit-keyframes moving-gradient {
    0% { background-position: left bottom; }
    100% { background-position: right bottom; }
}

.bar {
    width: 0px;
    height: 16px;
    
    background: -webkit-linear-gradient(
        left,
        #01CD33 30%,
        #66E564 80%,
        #01CD33 100%
    ) repeat;
    
    -webkit-background-size: 50% 100%;
    -webkit-animation-name: moving-gradient;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.half { width: 200px; overflow-x: hidden; }
.half.full { width: 400px; }
.half .bar { width: 0%; }
.half.full .bar { -webkit-animation-duration: 2s; }

.sexy {
    border: 1px solid #adadad;
    -webkit-border-radius: 2px;
}

.sexy .gradient-overlay {
    position: absolute;
    width: 400px;
    height: 16px;
    
    background-image: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, .8) 0%,
        rgba(255, 255, 255, .4) 25%,
        rgba(255, 255, 255, 0) 25%,
        rgba(255, 255, 255, .2) 100%
    );
}

.sexy .border-overlay {
    position: absolute;
    width: 398px;
    height: 28px;
    border: 1px solid rgba(255, 255, 255, .15);
}
